<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body onload="document.form.username.focus();">
<div th:include="header::header(_)"></div>
<div>
    <div class="container" style="display: flex; justify-content: center">
        <div class="content" style="width: 500px; margin-top: 100px;">
            <p th:if="${param.logout}" class="alert alert-info">注销成功</p>
            <p th:if="${param.error}" class="alert alert-danger">用户名密码不正确，请重试</p>
            <form name="form" th:action="@{/login}" action="/login" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" value="" placeholder="用户名" />
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="密码" />
                </div>

                <div class="text-center">
                    <input type="submit" id="login" value="登录"  class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>